LoadModule proxy_module {{mods_dir}}/mod_proxy.so
LoadModule proxy_ajp_module {{mods_dir}}/mod_proxy_ajp.so
LoadModule proxy_http_module {{mods_dir}}/mod_proxy_http.so

LoadModule ssl_module {{mods_dir}}/mod_ssl.so
Listen *:443

<VirtualHost *:443>
{% if doc_root|length > 0 %}
    DocumentRoot {{doc_root}}
{% endif %}

    SSLEngine on
    SSLCertificateFile {{conf_dir}}/{{cert_file}}
    SSLCertificateKeyFile {{conf_dir}}/{{cert_file|replace('.crt', '.key')}}

    ErrorLog logs/default.error_log
    CustomLog logs/default.access_log combined
</VirtualHost>
